header {
  width: 100%;
  background: var(--color-primary);
}

.container-header {
  display: flex;
  width: 91%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: absolute;
  /* box-shadow: 1px 1px 6px 1px #0000003d; */
}

.section-header {
  width: 100%;
  position: absolute;
  z-index: 99999;
}

.nav1 {
  display: none;
}

.figure-logo img {
  width: 207px;
  padding: 0px;
  margin-top: 7px;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu a {
  color: var(--color4);
  font-size: 18px;
  display: inline-block;
  position: relative;
}

.nav-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.nav-link:hover:after {
  width: 100%;
  background-color: var(--color-primary);
}

.nav-menu-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu-icons img {
  width: 26px;
}

.div-style {
  width: 298px;
  height: 1px;
  background: var(--color-primary);
  margin: 10px 0px 9px;
}

@media screen and (min-width: 600px) {
  .div-style {
    margin: 10px 0px 20px;
    width: 484px;
  }

  header {
    z-index: 99999;
    top: 0px;
  }

  .postion-header {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .div-button-banner {
    display: flex;
    gap: 9px;
  }

  .nav1 {
    display: block;
  }

  .figure-logo img {
    margin-top: 2px;
    width: 190px;
  }

  .container-header {
    width: 100%;
    height: 75px;
    justify-content: space-around;
    background-color: transparent;
    /* box-shadow: 1px 1px 6px 1px #0000003d; */
    position: absolute;
  }

  .nav1 a {
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 200;
    cursor: pointer;
  }

  .button-header {
    padding: 0px 17px;
    cursor: pointer;
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    height: 35px;
    border-radius: 9px;
  }

  .button-header li a {
    color: var(--color-primary-alt);
    font-size: 15px;
  }

  .nav-menu {
    align-items: center;
  }

  .nav-menu-icons img {
    width: 28px;
  }
}

@media (max-width: 330px) {
  .div-style {
    width: 359px;
    height: 1px;
    background: var(--color-primary);
    margin: 10px 0px 9px;
  }
}
