/* .background-banner {
  background-image: url(/img/banner/banner-mobile.png);
  padding: 0px 0px 51px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
  display: flex;
  height: 680px;
}
 */
/* modelo 01 */
.background-banner {
  background-image: url(/img/banner/banner-mobileO.jpg);
  padding: 0px 0px 51px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  display: flex;
  /* height: 568px; */
  height: 630px;
  /* margin-top: -50px; */
}

.container-text-banner img {
  display: none;
}

#butto-header2 {
  display: none;
}

.container-text-banner {
  width: 83%;
  margin: 102px auto 419px;
  color: white;
}

@media (max-width: 600px) {
  .container-text-banner {
    backdrop-filter: blur(1px);
    font-weight: 400;
    margin-bottom: 435px;
  }
}

.container-text-banner h2 {
  font-size: 30px;
  font-style: italic;
  color: var(--color-primary);
  font-weight: 500;
}

.container-text-banner h1 {
  font-size: 20px;
  line-height: 32px;
  max-width: 306px;
  width: 306px;
  font-weight: 300;
  padding: 4px 0px 0px 0px;
  color: var(--color-primary);
}

.container-text-banner p {
  font-size: 18px;
  font-weight: 200;
  line-height: 18px;
  padding: 0px 0px 0px;
  max-width: 424px;
  color: var(--color-primary);
}

.logo-banner {
  display: flex;
}

#second-button {
  background-color: transparent;
  border-radius: 8px;
}

#second-button a {
  color: var(--color-secondary);
  font-weight: 800;
}

.div-button-banner {
  display: flex;
}

.div-button-banner button {
  padding: 5px 13px;
  height: 35px;
  background: var(--color-primary);
  border: none;
  border-radius: 34px;
  display: none;
}

.div-button-banner button a {
  color: var(--color3);
  font-size: 17px;
  font-weight: 300;
}

.botao-pulse {
  padding: 0px 17px;
  cursor: pointer;
  background: var(--color-primary-alt);
  height: 35px;
  border: none;
  border-radius: 35px;
  margin-top: 15px;
  display: none;
}

.botao-pulse a {
  color: var(--color-secondary);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  25% {
    -o-transform: scale(1.1);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 600px) {
  .div-button-banner button {
    padding: 5px 20px;
  }

  .container-text-banner img {
    display: block;
    width: 330px;
    margin-bottom: 20px;
  }

  .background-banner {
    height: 655px;
    width: auto;
    align-items: center;
    background-position: top;
    background-image: url(/img/banner/bannerdesck.png);
    background-size: cover;
  }

  #butto-header2 {
    display: block;
  }

  .container-text-banner {
    max-width: 1210px;
    margin: 50px auto 0px;
  }

  .logo-banner {
    display: none;
  }

  .container-text-banner h1 {
    font-size: 38px;
    line-height: 40px;
    font-weight: 500;
    padding: 0px 0px 5px 0px;
  }

  .background-banner h1 {
    font-size: 33px;
    max-width: 590px;
    width: 500px;
    line-height: 54px;
    font-weight: 200;
    letter-spacing: 0px;
    color: var(--color-primary);
    margin-top: 10px;
  }

  .background-banner h1 span {
    font-weight: 700;
  }

  .container-text-banner p {
    font-size: 23px;
    font-weight: 200;
    line-height: 18px;
    padding: 0px 0px 0px;
    max-width: 460px;
    color: var(--color-primary);
  }

  .container-text-banner h2 {
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 13px;
    color: var(--color-primary);
  }

  .botao-pulse {
    display: block;
  }
}

@media (max-width: 330px) {
  .container-text-banner h1 {
    font-size: 23px;
    line-height: 32px;
    max-width: 400px;
    width: 394px;
    font-weight: 300;
    color: var(--color-primary);
    padding: 4px 0px 0px;
  }

  .container-text-banner p {
    font-size: 20px;
    font-weight: 200;
    line-height: 18px;
    padding: 0px 0px 0px;
    max-width: 424px;
    color: var(--color-primary);
  }
}