#card-image {
  width: 33px;
  border-radius: 8px;
}

.section-cards {
  width: 90%;
  margin: 0px auto 35px;
  background: var(--color3);
  padding: 25px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 3px 9px #0000004a;

}

.container-cards-cards {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {

  .container-section-especialidade {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 0px 0px;
  }

  .container-cards-cards {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 100%;
  }


  .card-cards {
    width: 356px;
    box-shadow: 0px 3px 9px #0000004a;
  }
}